# Green Invoice
GREEN_INVOICE_ID=
GREEN_INVOICE_SECRET=

# IEC (electricity)
IEC_ID=
IEC_PASSWORD=

# Partner (internet)
PARTNER_PHONE=
PARTNER_PASSWORD=

# HOT Mobile
HOTMOBILE_PHONE=
HOTMOBILE_PASSWORD=

# Mei Hod Hasharon (water)
WATER_ACCOUNT=
WATER_ID=

# Hod Hasharon Arnona
ARNONA_ID=
ARNONA_PROPERTY=
